.icon-48-tjcpgpayment {
      background-image: url(../images/l_tjcpgpayment.png);
      padding-left:60px!important;
}

.icon-48-payments {
      background-image: url(../images/l_tjcpgpayment.png);
      padding-left:60px!important;
}

